@using System.Security.Claims

@{
  LibraryUser user = ViewBag.user;
  List<Checkout> myCheckouts = ViewBag.checkouts;
}

<h2>User Account Page</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  <ul>
  @if (myCheckouts.Count == 0)
    {
      <h3>No books yet added.</h3>
    }
    else
    {
      <h4>Total Books: @myCheckouts.Count</h4>
      @foreach (Checkout c in myCheckouts)
      {
        <li>@c.Book.Title</li>
      }
    }
  </ul>
  @using (Html.BeginForm("LogOut", "Account", new { message = "You gone!" }))
  {
    <input type="submit" class="btn btn-default btn-outline-primary" value="Log Out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>